header {
  border-bottom: 1px #c2ccd1 solid;
  margin-bottom: 0;
}

.app__title {
  font-size: 20px;
  padding: 1em;
  margin-bottom: 0;
}
.form-wrapper {
  padding-top: 2em;
}
.contacts {
  padding-top: 2em;
  .contact {
    padding: 2em;
    border-bottom: 1px #c2ccd1 solid;
  }
  .action-items {
    padding-top: 1em;
  }
}

.contact-profile {
  padding: 2em;
}

footer {
  padding: 0.5em 0;
}